@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202853;
}

#cart-paiment-table {
  background-color: #1c243c;
}
